*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, .navbar-brand {
  font-family: 'Playfair Display', serif;
}



.hyrje{
  background-image: url("../imazhet/eee.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  color: white;
}
.hyrje h1 {
    margin: 20px;
    font-size: 50px;
    font-weight: 800;
}

.hyrje button {
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
}


.libraria-2025 {
    border-radius: 40px;
    background-color: #e0e0e0;
    margin-top: 30px;
}

.libraria-2025 h3 {
    font-weight: 600;
    font-size: 2rem;
}

